@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.pink{
    background-color: #d885b1;
    color: white;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;

}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;

    /* background-color: rebeccapurple; */
    width: 40%;
    text-align: center;
    margin: 1rem 0;
}

.register--box{
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    /* width: 60%; */
    width: 40%;

}

.input{
    padding: .5em;
}

.confirm{
    margin: .5em;
}

.inactive{
    display: none;
}